.expenses{
    padding: 1rem 2rem;
    background-color:  rgb(0, 0, 0);
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    /* border-radius: 1rem;
    box-shadow: 0 2px 20px #ffb300;; */
}

p{
    color: rgb(255, 0, 221);
}